extends layout

block header

block content
    form(action='/signup' method='post' enctype='multipart/form-data')
        label(for='ID') userID 
        input.form-control(type='text' id='userID' placeholder='ID' name='userID')
        br
        label(for='password') Password
        input.form-control(type='password' id='password', placeholder='password' name='password')
        br
        label(for='Name') Name
        input.form-control(type='text' id='name', placeholder='name' name='name')
        br
        label(for='Email') Email
        input.form-control(type='text' id='email', placeholder='email' name='email')
        br
        input.form-control(type='file', name='images' multiple)
        input.form-control(type='submit' value='submit')

block footer
